:root {
  --primary-color: #0078b6;
  --secondary-color: #00a9d6;
  --accent-color: #00bed6;
  --border-color: #e0e0e0;
  --event-bg: #d6f2f9;
  --event-border: #00bed6;
  --light-blue: #e6f7fb;
  --dark-blue: #005b8c;
  --blue-gray: #607d8b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Work Sans, Helvetica, Arial, sans-serif;
}

header {
  height: 64px;
  background: linear-gradient(135deg, #00c6fb 0%, #005bea 100%);
  display: flex;
  align-items: center;
  padding: 16px;
  /* linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color),
    var(--accent-color)
  ); */
}
.logo {
  max-width: 40px;
  max-height: 40px;
}

.app-title {
  font-size: 22px;
  color: white;
}

.title-link {
  text-decoration: none;
  color: inherit;
  font-family: "Rubik";
}

.line {
  margin-left: 15px;
  height: 30px;
  border: 1px solid white;
}

.app-section {
  font-size: 20px;
  color: white;
  margin-left: 15px;
  font-family: "Rubik";
}

.user-container {
  margin-left: auto;
  margin-right: 10px;
}

.user-logo {
  height: 32px;
  position: relative;
  cursor: pointer;
  filter: drop-shadow(0 0 0 transparent);
  transition: filter 0.2s ease;
}

.user-logo:hover {
  filter: grayscale(10%) brightness(0.9);
  transition: filter 0.2s ease;
}

.modal-logout {
  position: absolute;
  top: 55px;
  right: 5px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  border-radius: 8px;
}

.email {
  margin-bottom: 10px;
  font-weight: 300;
}

.logout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  display: flex;
}

.hidden {
  display: none !important;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-primary {
  background: linear-gradient(45deg, #00b4db, #0083b0);
  color: white;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}

.btn-secondary {
  background-color: white;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.btn-secondary:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.logout-btn {
  background-color: #ff6347;
  color: white;
  font-weight: 600;
  padding: 5px 40px;
}
