/* Common styles and variables extracted from style.css */

:root {
  --background-color: #f5f8fa;
  --background2-color: #e6e4f0;
  --text-color: #000000;
  --error-color: #ff6347;
  --btn-icon-background-color: #5f8ecc;
  --hover-color: #191970;
  --shadow-color: #898989;
  --border-color: #e0e0e0;
  --event-bg: #d6f2f9;
  --event-border: #00bed6;
  --accent-color: #00bed6;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: Work Sans, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0 20px 0;
}
h2 {
  font-size: 1.7rem;
}

button {
  padding: 0.375rem 0.75rem;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-primary {
  background-color: var(--btn-icon-background-color);
  border-color: var(--btn-icon-background-color);
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
}
.btn-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.btn-secondary {
  background-color: white;
  color: var(--btn-icon-background-color);
  border: 1px solid var(--btn-icon-background-color);
}

.btn-secondary:hover {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

/*--STILE RELATIVO ALLA BARRA SUPERIORE */

header {
  height: 64px;
  background: linear-gradient(135deg, #00c6fb 0%, #005bea 100%);
  display: flex;
  align-items: center;
  padding: 16px;
  /* linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color),
    var(--accent-color)
  ); */
}
.logo {
  max-width: 40px;
  max-height: 40px;
}

.app-title {
  font-size: 22px;
  color: white;
}

.title-link {
  text-decoration: none;
  color: inherit;
  font-family: "Rubik";
}

.line {
  margin-left: 15px;
  height: 30px;
  border: 1px solid white;
}

.app-section {
  font-size: 20px;
  color: white;
  margin-left: 15px;
  font-family: "Rubik";
}

.user-container {
  margin-left: auto;
  margin-right: 10px;
}

.user-logo {
  height: 32px;
  position: relative;
  cursor: pointer;
  filter: drop-shadow(0 0 0 transparent);
  transition: filter 0.2s ease;
}

.user-logo:hover {
  filter: grayscale(10%) brightness(0.9);
  transition: filter 0.2s ease;
}

.modal-logout {
  position: absolute;
  top: 55px;
  right: 5px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  border-radius: 8px;
}

.email {
  margin-bottom: 10px;
  font-weight: 300;
}

.logout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  display: flex;
}

.hidden {
  display: none !important;
}

.logout-btn {
  background-color: #ff6347;
  color: white;
  font-weight: 600;
  padding: 5px 40px;
}
