@keyframes modalSlideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 0.9rem;
}

.nav-button {
  padding: 6px 12px;
  border: 1px solid var(--border-color);
  background-color: white;
  color: black;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1rem;
}

.nav-button:hover {
  background-color: #f5f5f5;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.wrapper {
  display: flex;
  flex: 1;
  height: 90.5vh;
}

/* ---CALENDARIO--- */

.calendar-container {
  overflow-y: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
  padding: 15px;
}

.calendar-bar {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.bag-button {
  margin-left: auto;
  margin-right: 30px;
}

.date-navigation {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.current-month {
  margin-left: 10px;
  margin-right: 2rem;
}

.calendar {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid var(--border-color);
  background-color: #f8f9fa;
  border-radius: 15px;
}

.day-header {
  padding: 10px;
  text-align: center;
  font-weight: 500;
  border-right: 1px solid var(--border-color);
}

.day-header:last-child {
  border-right: none;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-cell {
  border-right: 1px solid var(--border-color);
  min-height: 500px;
  padding: 5px;
}

.day-cell:last-child {
  border-right: none;
}

.day-number {
  margin-bottom: 8px;
  font-size: 1rem;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: black;
  height: 19px;
  padding: 0 0.5rem;
  font-size: 0.75rem;
  border-radius: 999px;
  font-weight: 500;
  white-space: nowrap;
  margin-left: 10px;
}

.badge-start {
  background-color: rgba(45, 212, 56, 0.15);
  border: 1px solid #2ecc71;
}

.badge-end {
  background-color: rgba(255, 99, 71, 0.2);
  border: 1px solid #ff6347;
}

/* ---SIDEBAR--- */

.sidebar {
  width: 250px;
  padding: 1rem;
  overflow-y: auto;
  border-right: 1px solid var(--border-color);
}

.vacation-details {
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.update {
  align-self: baseline;
}

.add-event-btn {
  position: fixed;
  bottom: 20px;
  right: 25px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/*---SCHERMATA AGGIUNTA EVENTO---*/
.modal-content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  animation: modalSlideIn 0.3s ease;
}

.add-title {
  margin-bottom: 20px;
}

/*SCHERMATA DETTAGLI EVENTO */

.event-details-title {
  margin-bottom: 20px;
}

.event-detail {
  margin-bottom: 5px;
}

.event-details {
  margin-bottom: 20px;
}

#cancel-add {
  margin-right: 10px;
}

.event {
  background-color: var(--event-bg);
  border-left: 3px solid var(--event-border);
  padding: 3px 5px;
  margin-bottom: 3px;
  border-radius: 3px;
  cursor: pointer;
}
