:root{
    --background-color: #f5f8fa;
    --background2-color: #e6e4f0;
    --text-color:#000000;
    --error-color: #f06272;
    --btn-icon-background-color: #5f8ecc;
    --hover-color:#191970;
    --shadow-color: #898989;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

html {
    font-family: 'arial', sans-serif;
    font-size: 14px;
    color:var(--text-color);
}

body{
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.text-center{
    background-color: var(--background-color);
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 0 20px var(--shadow-color);
}

h1{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
}
h2{
    font-size: 1.7rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--btn-icon-background-color);
    fill: var(--background-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
form label:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    background-color: var(--background2-color);
    border: 2px solid var(--background2-color);
    border-left: none;
}
form input:hover{
    border-color: var(--btn-icon-background-color);
}
form input:focus{
    outline:none;
    border-color: var(--hover-color);
}
form div:has(input:focus) > label{
    background-color: var(--hover-color);
}

.btn-primary {
    background-color: var(--btn-icon-background-color); 
    border-color: var(--btn-icon-background-color);
    font-weight: 600;
    font-size: 1.2rem;
}
.btn-primary:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.text-center p{
    margin-top: 20px;
    font-size: 1.2rem;
}
.text-center a{
    text-decoration: none;
    font-weight: bold;
}
.text-center a:hover{
    text-decoration: underline;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 10px 30px 25px;
    text-align: start;
}

.griglia-attività{
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    gap: clamp(5px, 2vw, 40px);
    padding: 10px 0 30px 0;
    justify-items: center;
}

.attività{
    background-color: var(--background-color);
    border: 2px solid var(--hover-color);
    border-radius: 20px;
    width: 100%;
    max-width: 120px;
    padding: 20px 10px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: all 0.2s ease;
}

.attività input{
    display: none;
}
.attività input[type="checkbox"]:checked + img {
    transform: scale(1.1);
}
.attività input[type="checkbox"]:checked ~ span {
    font-weight: bolder;
}

.attività:has(input[type="checkbox"]:checked) {
    border-color: var(--btn-icon-background-color);
    background-color: #e6f0ff;
}

.attività:hover {
    border-color: var(--btn-icon-background-color);
    box-shadow: 0 4px 12px var(--shadow-color);
  }
.attività:focus{
    outline:none;
    border-color: var(--hover-color);
}
  
.attività img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    margin-bottom: 10px;
}
  
.attività span {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--text-color);
    text-align: center;
}

@media(max-width: 500px){
    .text-center{
        width: min(600px, 100%);
    }
}
@media(min-width: 992px){
    .text-center{
        width: 95%;
        max-width: 700px;
    }
}

.lista-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: clamp(20px, 2vw, 40px);
    justify-items: start;
}

.sezione {   
    padding:20px 0 20px 0;
  }

.sezione > div {
    margin-bottom: 5px; /* aggiungi margine inferiore */
}

.sezione input[type="checkbox"]:checked ~ label {
    color:var(--shadow-color);
}

.sezione input[type="checkbox"] + label {
    padding-left: 5px; 
}


.sezione > div {
    display: flex;
    align-items: center;
    padding: 2px;
    
}


.sezione input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-top: 2.3px;
    accent-color: var(--btn-icon-background-color);
    cursor: pointer;
    vertical-align: middle;
}

.sezione label {
    font-size: 1.1rem;
    cursor: pointer;
    user-select: none;
    line-height: 1.2;
}